html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

button,
input[type="submit"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

body {
    font-family: $fuentePrincipal;
    font-size: 1.8rem;
}

p {
    font-size: 2rem;
    color: $black;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
h1, h2, h3 {
    margin: 0;
}
h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 3rem;
}
