// codigo aquí
.nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #3EBFFFFF;
    .container {
        margin: 0 auto;
        height: 10rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 90%;
    }
    &__hamburger {
        color: #242329;
        cursor: pointer;
        z-index: 5;
        width: 3rem;
        height: 3rem;

        &.is-active .top {
            -webkit-transform: translateY(200%) rotate(45deg);
            -ms-transform: translateY(200%) rotate(45deg);
            transform: translateY(200%) rotate(45deg);
            transition: all 0.3s ease-in-out;
        }

        &.is-active .mid {
            opacity: 0;
        }

        &.is-active .bot {
            -webkit-transform: translateY(-200%) rotate(135deg);
            -ms-transform: translateY(-200%) rotate(135deg);
            transform: translateY(-200%) rotate(135deg);
            transition: all 0.3s ease-in-out;
        }

        .layer {
            background-color: $white;
            height: 4px;
            width: 3rem;
            margin-top: 4px;
            color: red;
            border-radius: 2px;
        }

        @include desktop {
            display: none;
        }
    }

    &__list {
        display: none;
        margin-left: 2rem;
        font-size: 1.6rem;
        font-weight: bold;
        color: $black;
        position: fixed;
        max-width: 90%;
        top: 80px;
        width: 100%;
        background-color: $white;
        margin: 0;
        box-shadow: -1px 0px 5px rgb(0 0 0 / 15%);
        transition: .4s;
        padding: 7rem 2rem 4rem;
        list-style-type: none;
        clip-path: polygon(0 100%, 100% 100%, 100% 75%, 100% 31%, 100% 0, 92% 10%, 0 10%);

        li {
            font-size: 2rem;
            color: $darkGrayishBlue;
            a {
                &:visited {
                    color: $darkGrayishBlue;
                }
                &:hover {
                    color: purple;
                }
            }
            &:last-child {
                background-color: $yellow;
                padding: 1.5rem 3rem;
                border-radius: 3rem;
                a {
                    text-transform: uppercase;
                    color: $black;
                }
            }
        }
    }

    .nav__items--show {
        // top: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 3rem;
    }
}
.header {
    background-image: url(/assets/mobile/image-header.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
    .about {
            display: flex;
            flex-direction: column;
            align-items: center;
    
            h1 {
                padding-top: 15rem;
                font-family: $fuenteSecundaria;
                font-weight: 900;
                font-size: 4rem;
                color: $white;
                text-align: center;
                text-transform: uppercase;
                letter-spacing: .5rem;
            }
    
            svg {
                margin-top: 9rem;
    
                g {
                    stroke: $white;
                }
            }
        }
}

// MAIN 
.main {
    figure {
        margin: 0;
    }
    &__image {
        &--transform {
            height: 30rem;
            background: url("/assets/mobile/image-transform.jpg") no-repeat center;
            background-size: cover;
        }
        &--copa {
            height: 30rem;
            background: url("/assets/mobile/image-stand-out.jpg") no-repeat center;
            background-size: cover;
        }
    }
    &__services {
        padding: 3rem;
        text-align: center;
        h2 {
            font-family: $fuenteSecundaria;
            font-weight: 900;
            font-size: 3rem;
            color: $veryDarkDesaturatedBlue;
            margin-top: 2rem;
        }
        p {
            font-size: 1.7rem;
            color: $darkGrayishBlue;
            line-height: 1.5;
            margin-top: 2rem;
        }
        .link {
            margin: 2rem 0 3rem;
            a {
                color: $veryDarkDesaturatedBlue;
                text-transform: uppercase;
                font-family: $fuenteSecundaria;
                font-weight: 900;
                font-size: 1.4rem;
                margin: 0;
                &::after {
                    content: "";
                    display: block;
                    width: 11.5rem;
                    height: .7rem;
                    background-color: $yellow;
                    margin: -.7rem auto 0;
                    border-radius: 1rem;
                    opacity: .3;
                }
            }
        }
    }
    .audience .link a{
        &::after {
                content: "";
                display: block;
                width: 11.5rem;
                height: .7rem;
                background-color: $softRed;
                margin: -.7rem auto 0;
                border-radius: 1rem;
                opacity: .3;
            }
    }
    .aux {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        padding: 2rem;
        height: 57rem;
        &.graphic {
            background: url("/assets/mobile/image-graphic-design.jpg") no-repeat center;
            background-size: cover;
        }
        p {
            font-size: 1.6rem;
            color: $darkDesaturatedCyan;
            line-height: 1.5;
            margin: 3rem 0 4rem;
        }
        &.photography {
            background: url("/assets/mobile/image-photography.jpg") no-repeat center;
            background-size: cover;
        }
    }
}




.attribution {
    font-size: 11px;
    text-align: center;
    a {
        color: hsl(228, 45%, 44%);
    }
}

