.back {
    background-color: #3f3a3a81;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    position: fixed;
    z-index: 10;
    bottom: 2rem;
    right: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
        color: $white;
        transition: 2s;
    } 
}
// NAV BAR
.nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #3EBFFFFF;
    &__logo {
        display: flex;
    }
    .container {
        margin: 0 auto;
        height: 10rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 90%;
        @include tablet {
            max-width: 95%;
        }
    }
    &__hamburger {
        color: #242329;
        cursor: pointer;
        z-index: 5;
        width: 3rem;
        height: 3rem;
        &.is-active .top {
            -webkit-transform: translateY(200%) rotate(45deg);
            -ms-transform: translateY(200%) rotate(45deg);
            transform: translateY(200%) rotate(45deg);
            transition: all 0.3s ease-in-out;
        }

        &.is-active .mid {
            opacity: 0;
        }

        &.is-active .bot {
            -webkit-transform: translateY(-200%) rotate(135deg);
            -ms-transform: translateY(-200%) rotate(135deg);
            transform: translateY(-200%) rotate(135deg);
            transition: all 0.3s ease-in-out;
        }

        .layer {
            background-color: $white;
            height: 4px;
            width: 3rem;
            margin-top: 4px;
            color: red;
            border-radius: 2px;
        }

        @include tablet {
            display: none;
        }
    }

    &__list {
        @include tablet {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: inherit;
            background-color: #3EBFFFFF;
            height: 10rem;
            padding: 0;
            height: 8rem;
            max-width: 50rem;
            clip-path: none;
            box-shadow: none;
        }
        display: none;
        margin-left: 2rem;
        font-size: 1.6rem;
        font-weight: bold;
        color: $black;
        position: fixed;
        max-width: 90%;
        top: 80px;
        width: 100%;
        background-color: $white;
        margin: 0;
        box-shadow: -1px 0px 5px rgb(0 0 0 / 15%);
        transition: .4s;
        padding: 7rem 2rem 4rem;
        list-style-type: none;
        clip-path: polygon(0 100%, 100% 100%, 100% 75%, 100% 31%, 100% 0, 92% 10%, 0 10%);

        li {
            font-size: 2rem;
            color: $darkGrayishBlue;
            @include tablet {
                color: $white;
            }
            a {
                &:visited {
                    @include tablet {
                        color: $white;
                    }
                    color: $darkGrayishBlue;
                }
                &:hover {
                    @include tablet {
                        color: $white;
                    }
                    color: purple;
                }
            }
            &:last-child {
                @include tablet {
                    background-color: $white;
                    &:hover {
                        background-color: #ffffff42;
                    }
                    &:hover a {
                        color: $white;
                    }
                }
                cursor: pointer;
                background-color: $yellow;
                padding: 1.5rem 3rem;
                border-radius: 3rem;
                a {
                    text-transform: uppercase;
                    color: $black;
                }
            }
        }
    }

    .nav__items--show {
        // top: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 3rem;
    }
}
// HEADER
.header {
    @include tablet {
        height: 90vh;
        background: url("/assets/desktop/image-header.jpg") no-repeat center;
        background-size: cover;
    }
    background-image: url("/assets/mobile/image-header.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
    .about {
            display: flex;
            flex-direction: column;
            align-items: center;
    
            h1 {
                padding-top: 15rem;
                font-family: $fuenteSecundaria;
                font-weight: 900;
                font-size: 4rem;
                color: $white;
                text-align: center;
                text-transform: uppercase;
                letter-spacing: .5rem;
            }
    
            svg {
                margin-top: 9rem;
    
                g {
                    stroke: $white;
                }
            }
        }
}

// MAIN 
.main {
    @include tablet {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(3, 60rem);
    }
    figure {
        margin: 0;
    }
    &__image {
        &--transform {
            @include tablet {
                height: 100%;
                grid-row: 1 / 2;
                grid-column: 2 / 3;
                background: url("/assets/desktop/image-transform.jpg") no-repeat center;
                background-size: cover;
            }
            height: 30rem;
            background: url("/assets/mobile/image-transform.jpg") no-repeat center;
            background-size: cover;
        }
        &--copa {
            @include tablet {
                height: 100%;
                grid-row: 2 / 3;
                grid-column: 1 / 2;
                background: url("/assets/desktop/image-stand-out.jpg") no-repeat center;
                background-size: cover;
            }
            height: 30rem;
            background: url("/assets/mobile/image-stand-out.jpg") no-repeat center;
            background-size: cover;
        }
    }
    &__services {
        @include tablet {
            padding: 0 2rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            text-align: left;
        }
        @include desktop {
            padding: 15rem 13rem 15rem 15rem;
        }
        padding: 3rem;
        text-align: center;
        h2 {
            @include tablet {
                font-size: 4rem;
                text-align: left;
            }
            text-align: center;
            font-family: $fuenteSecundaria;
            font-weight: 900;
            font-size: 3rem;
            color: $veryDarkDesaturatedBlue;
            margin-top: 2rem;
        }
        p {
            font-size: 1.7rem;
            color: $darkGrayishBlue;
            line-height: 1.5;
            margin-top: 2rem;
        }
        .link {
            margin: 2rem 0 3rem;
            cursor: pointer;
            &:hover a::after {
                opacity: 1;
            }
            a {
                color: $veryDarkDesaturatedBlue;
                text-transform: uppercase;
                font-family: $fuenteSecundaria;
                font-weight: 900;
                font-size: 1.4rem;
                margin: 0 0 0 .6rem;
                &::after {
                    content: "";
                    display: block;
                    width: 11.5rem;
                    height: .7rem;
                    background-color: $yellow;
                    margin: -.7rem auto 0;
                    border-radius: 1rem;
                    opacity: .3;
                }
            }
        }
    }
    .audience{
        @include tablet {
            padding: 0 2rem;
        }
        @include desktop {
            padding: 15rem 15rem 15rem 13rem;
        }
        .link {
            &:hover a::after {
                    opacity: 1;
                }
            a {
            &::after {
                    content: "";
                    display: block;
                    width: 11.5rem;
                    height: .7rem;
                    background-color: $softRed;
                    margin: -.7rem auto 0;
                    border-radius: 1rem;
                    opacity: .3;
                }
            }
        }
    }
    .aux {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        padding: 2rem;
        height: 57rem;
        @include tablet {
            h2 {
                text-align: center;
            }
        }
        &.graphic {
            @include tablet {
                height: 100%;
                grid-row: 3 / 4;
                grid-column: 1 / 2;
                background: url("/assets/desktop/image-graphic-design.jpg") no-repeat center;
                background-size: cover;
            }
            background: url("/assets/mobile/image-graphic-design.jpg") no-repeat center;
            background-size: cover;
        }
        p {
            font-size: 1.6rem;
            color: $darkDesaturatedCyan;
            line-height: 1.5;
            margin: 3rem 0 4rem;
            text-align: center;
        }
        &.photography {
            @include tablet {
                height: 100%;
                grid-row: 3 / 4;
                grid-column: 2 / 3;
                background: url("/assets/desktop/image-photography.jpg") no-repeat center;
                background-size: cover;
            }
            background: url("/assets/mobile/image-photography.jpg") no-repeat center;
            background-size: cover;
            p {
                color: $darkBlue;
            }
        }
    }
}

// TESTIMONIALS
.testimonials {
    padding: 2.5rem;
    @include desktop {
        padding: 10rem 15rem 15rem;
    }
    h3 {
        text-transform: uppercase;
        font-family: $fuenteSecundaria;
        font-weight: 900;
        font-size: 1.6rem;
        color: $grayishBlue;
        letter-spacing: .5rem;
        margin-top: 4rem;
        text-align: center;
    }
    &__cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include desktop {
            flex-direction: row;
            justify-content: center;
            gap: 1rem;
        }
        .card {
            margin-top: 7rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 36rem;
            img {
                width: 7rem;
                height: 7rem;
                border-radius: 50%;
            }
            p {
                font-size: 1.8rem;
                color: $veryDarkGrayishBlue;
                line-height: 1.5;
                margin: 3rem 0;
                text-align: center;
            }
            h4 {
                font-family: $fuenteSecundaria;
                font-weight: 900;
                font-size: 2rem;
                color: $veryDarkDesaturatedBlue;
                text-align: center;
                line-height: 1.5;
                margin: 0;
                span {
                    font-family: $fuentePrincipal;
                    font-size: 1.4rem;
                    color: $grayishBlue;
                }
            }
            &:last-child {
                @include desktop {
                    margin-bottom: 0;
                }
                margin-bottom: 7rem;
            }
        }
    }
}
// PROJECTS
.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 18rem);
    @include tablet {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1, 40rem);
    }
    figure {
        margin: 0;
    }
    .milk {
        @include tablet {
            background: url("/assets/desktop/image-gallery-milkbottles.jpg") no-repeat center;
            background-size: cover;
        }
        background: url("/assets/mobile/image-gallery-milkbottles.jpg") no-repeat center;
        background-size: cover;
        
    }
    .orange {
        @include tablet {
            background: url("/assets/desktop/image-gallery-orange.jpg") no-repeat center;
            background-size: cover;
        }
        background: url("/assets/mobile/image-gallery-orange.jpg") no-repeat center;
        background-size: cover;
    }
    .cone {
        @include tablet {
            background: url("/assets/desktop/image-gallery-cone.jpg") no-repeat center;
            background-size: cover;
        }
        background: url("/assets/mobile/image-gallery-cone.jpg") no-repeat center;
        background-size: cover;

    }
    .sugar {
        @include tablet {
            background: url("/assets/desktop/image-gallery-sugarcubes.jpg") no-repeat center;
            background-size: cover;
        }
        background: url("/assets/mobile/image-gallery-sugar-cubes.jpg") no-repeat center;
        background-size: cover;
    }
}
// FOOTER
.footer {
    padding: 2rem;
    background-color: #90D4C5FF;
    font-size: 1.8rem;
    text-align: center;
    &__logo {
        margin-top: 6rem;
        path {
            fill: $darkModerateCyan;
        }
    }
    &__container {
        max-width: 30rem;
        margin: 0 auto;
        margin-top: 4rem;
        .links {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        .icons {
            display: flex;
            justify-content: space-between;
            max-width: 70%;
            align-items: center;
            margin: 7rem auto;
            svg {
                cursor: pointer;
                &:hover path{
                    fill: $white;
                }
            }
        }
    }
    a {
        color: $darkModerateCyan;
        &:hover {
            color: $white;
        }
    }
    p {
        font-size: 1.4rem;
    }
}

